<html xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <header th:replace="header"></header>
    <link href="css/login.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <form class="form-login" method="post" action="login.html">
        <h2 class="form-login-heading">Mythsgram</h2>
        <input id="hidden" name="type" type="hidden" value="signIn"/>
        <input type="email" name="inputEmail" class="form-control" placeholder="Email address" required="required"
               autofocus="autofocus"/>
        <input type="password" name="inputPassword" class="form-control" placeholder="Password" required="required"/>
        <div class="checkbox">
            <label><input type="checkbox" name="rememberMe"/> Remember me</label>
        </div>

        <label class="col-md-12 col-xs-12">Error</label>

        <button class="col-md-5 col-xs-5 btn btn-lg btn-primary " type="submit"
                onclick="document.getElementById('hidden').value='signIn'">Sign in
        </button>
        <button class="col-md-5 col-md-offset-2 col-xs-5 col-xs-offset-2 btn btn-lg btn-primary " type="submit"
                onclick="document.getElementById('hidden').value='singUp'">Sign up
        </button>
    </form>
</div>
</body>
</html>